.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 1080px;
}

.list {
  margin-top: 80px;
  list-style: none;
  text-align: right;
}

.list li {
  margin: 8px 0 30px;
}

a {
  font-size: 20px;
  color: var(--colour-blue);
}

a:visited {
  color: var(--colour-blue);
}

@media screen and (min-width: 576px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .list {
    margin: 0;
    text-align: left;
  }
}
