@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: var(--colour-blue);
}

html,
body,
#root {
  min-height: 100vh;
  --colour-blue: #0000ee;
  --colour-red: #ee0000;
  --colour-white: #ffffff;
}

main {
  padding: 40px;
  max-width: 1080px;
}

a {
  text-decoration: none;
}

header {
  margin: 40px;
}

h1 {
  font-size: 28px;
}

button {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  border: none;
  text-decoration: none;
  background: var(--colour-white);
  color: var(--colour-blue);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: none;
}

button:active {
  text-decoration: underline;
  outline: none;
}

button.active {
  color: var(--colour-red);
}

button.active:hover {
  cursor: default;
}

.plus-tag {
  position: relative;
}

.plus-tag:before {
  transition: 0.1s;
  content: "+";
  position: absolute;
  top: -16px;
  left: -10px;
}

.plus-tag:hover:before,
.plus-tag:focus:before {
  transition: 0.1s;
  top: -12px;
  left: -8px;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 32px;
  }
}
